*{
    margin: 0;
    padding: 0;
}
.signup {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.logo{
    padding:30px;
}

.all{
    margin: auto;
    width: 90%;

  /* height: 400px; */
}
.signup-form{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.signup-form>h1{
    text-align: center;
}
.main-content{
    width: 35%;
  
   
}
.main-data{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    gap:20px;
    
}
a{
    padding-top: 20px;
    text-align: right;
}
.side-review{
background: #FADE2A
}
.side-review>.bbt{
width: 13%;
background: white;
font-size: 14px;
padding: 3px 6px;
margin: 30px;
text-align: center;
font-weight: bold;

border-radius: 8px;

}
.side-review>.bbt+div{
width: 45%;
padding: 30px;
}
.side-review>.stt{
width: 45%;
padding: 30px;

}
@media all and (min-width:100px) and (max-width:1250px) {
    .side-review{
        display: none;
    }
    .main-content{
        width: 100%;
        margin: auto;
      
       
    }
    .all{
        margin: auto;
        width: 40%;
    
      /* height: 400px; */
    }
  
}
@media all and (min-width:100px) and (max-width:650px) {
    .all{
    margin: auto;
    width: 60%;

  /* height: 400px; */
}
}